<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpicentro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #002147;
            color: white;
            text-align: center;
            padding: 20px;
        }

            header img {
                max-width: 150px;
                height: auto;
            }

            header h1 {
                margin: 0;
                font-size: 2em;
            }

        .content {
            padding: 20px;
            background-color: white;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .content h2 {
                color: #002147;
            }

            .content p {
                color: #333;
            }

        .section {
            text-align: center;
            margin: 20px;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .section img {
                max-width: 1000px;
                height: auto;
                border-radius: 8px;
            }

            .section h3 {
                color: #002147;
                font-size: 1.5em;
            }

            .section p {
                color: #333;
                font-size: 1em;
            }

        .admin-section {
            text-align: center;
            margin: 20px;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .admin-section h2 {
                color: #002147;
                font-size: 2em;
                margin-bottom: 20px;
            }

            .admin-section .section {
                text-align: center;
                margin: 20px auto;
                padding: 20px;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 800px;
            }

        .footer {
            text-align: center;
            padding: 10px;
            background-color: #002147;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <img src="/Images/Presentacion/Logo K.png" alt="Logo de Karpicentro">
        <h1>Karpicentro</h1>
    </header>
    <div class="content">
        <h2>¿De dónde surgió?</h2>
        <p>Karpicentro nació hace medio año del negocio familiar de uno de nuestros compañeros. Originalmente tenía un propósito diferente, pero con el tiempo evolucionó hasta convertirse en una página web dedicada a la venta de muebles. Está dirigida principalmente a tiendas con proveedores, facilitando la conexión entre vendedores y clientes, incluso entre diferentes estados de la República Mexicana. Además, ofrece control y administración del inventario, gestión de trabajadores y registro de ventas. La página es fácil de usar tanto para administradores como para clientes, y es accesible desde cualquier dispositivo con acceso a internet.</p>
        <h2>Objetivos</h2>
        <p>Nuestros objetivos son diseñar e implementar un sistema de gestión de inventario que facilite la reposición oportuna y optimice los niveles de inventario, proporcionando información clara sobre disponibilidad, precios y opciones de financiamiento para los clientes.</p>
        <h2>¿Qué hacemos?</h2>
        <p>Ofrecemos diversas funciones en nuestra página:</p>
        <ul>
            <li>Visualización de promociones</li>
            <li>Ver el catálogo</li>
            <li>Detalles del producto</li>
            <li>Añadir productos al carrito</li>
            <li>Realizar compras con PayPal</li>
            <li>Obtener detalles del pedido</li>
        </ul>
        <h2>Factibilidad</h2>
        <p>
            <strong>Demanda del mercado:</strong> Realiza un estudio detallado para identificar los productos de carpintería más solicitados, utilizando encuestas, análisis de tendencias en redes sociales y consultas con diseñadores de interiores o arquitectos. Considera nichos específicos como muebles eco-friendly o diseños vintage.<br>
            <strong>Competencia:</strong> Analiza a tus competidores en términos de precios, productos, reputación, calidad del trabajo y atención al cliente. Identifica aspectos valorados por los clientes y busca diferenciarte en diseño, materiales, servicios adicionales o atención personalizada.<br>
            <strong>Capacidad técnica:</strong> Evalúa las habilidades de tu equipo en diseño, construcción y acabado de productos de carpintería. Invierte en capacitación o contrata personal experimentado si es necesario.<br>
            <strong>Recursos financieros:</strong> Calcula todos los costos asociados con iniciar y mantener la carpintería, incluyendo equipo, materiales, alquiler, servicios públicos, seguros y marketing.<br>
            <strong>Legalidad y regulaciones:</strong> Cumple con todas las regulaciones locales y normas de seguridad, obteniendo los permisos necesarios y asegurando un ambiente de trabajo seguro para tus empleados.<br>
            <strong>Mercadeo y ventas:</strong> Diseña un plan de marketing que incluya estrategias en línea y fuera de línea. Crea un sitio web profesional, utiliza redes sociales y colabora con tiendas de muebles y diseñadores de interiores. Participa en ferias y eventos locales.<br>
            <strong>Sostenibilidad a largo plazo:</strong> Mantén la relevancia y competitividad adaptándote a las tendencias de diseño, cambios en la demanda, diversificación de productos y servicios, y manteniendo altos estándares de calidad y atención al cliente para construir una reputación sólida.
        </p>
    </div>
    <div class="section">
        <h3>Inicio</h3>
        <img src="/Images/Presentacion/1.png" alt="Inicio">
        <p>Aquí podrás ver el inicio de nuestra página y su menú de opciones.</p>
    </div>
    <div class="section">
        <h3>Ofertas y productos</h3>
        <img src="/Images/Presentacion/Captura2.PNG" alt="Ofertas y productos">
        <p>Una vista de los productos más vendidos y las ofertas de la temporada.</p>
    </div>
    <div class="section">
        <h3>Acerca de la empresa y contactos</h3>
        <img src="/Images/Presentacion/Captura3.PNG" alt="Acerca de la empresa y contactos">
        <p>Toda la información sobre Karpicentro.</p>
    </div>
    <div class="section">
        <h3>Iniciar sesión</h3>
        <img src="/Images/Presentacion/Captura4.PNG" alt="Iniciar sesión">
        <p>Inicia sesión en nuestra página.</p>
    </div>
    <div class="section">
        <h3>Registro</h3>
        <img src="/Images/Presentacion/Captura6.PNG" alt="Registro">
        <p>Regístrate si no eres un usuario registrado.</p>
    </div>
    <div class="section">
        <h3>Catálogo</h3>
        <img src="/Images/Presentacion/Captura5.PNG" alt="Catálogo">
        <p>Visualiza los productos a la venta, divididos en cuatro categorías.</p>
    </div>
    <div class="section">
        <h3>Tu producto</h3>
        <img src="/Images/Presentacion/Captura7.PNG" alt="Tu producto">
        <p>Detalles del producto elegido.</p>
    </div>
    <div class="section">
        <h3>Carrito</h3>
        <img src="/Images/Presentacion/Captura8.PNG" alt="Carrito">
        <p>Visualiza los productos en el carrito.</p>
    </div>
    <div class="section">
        <h3>Check Out</h3>
        <img src="/Images/Presentacion/Captura9.PNG" alt="Check Out">
        <p>Confirmación de compra e introducción de datos necesarios para entrega y pago.</p>
    </div>
    <div class="admin-section">
        <h2>Vistas de Administrador</h2>
        <div class="section">
            <h3>Gestión de Usuarios</h3>
            <img src="/Images/Presentacion/a1.PNG" alt="Gestión de Usuarios">
            <p>Administra y gestiona los usuarios registrados en la plataforma.</p>
        </div>
        <div class="section">
            <h3>Gestión de Productos</h3>
            <img src="/Images/Presentacion/a2.PNG" alt="Gestión de Productos">
            <p>Controla y actualiza el catálogo de productos disponibles.</p>
        </div>
        <div class="section">
            <h3>Órdenes y Ventas</h3>
            <img src="/Images/Presentacion/a3.PNG" alt="Órdenes y Ventas">
            <p>Supervisa y administra las órdenes de compra y ventas realizadas.</p>
        </div>
        <div class="section">
            <h3>Configuraciones</h3>
            <img src="/Images/Presentacion/a5.PNG" alt="Configuraciones">
            <p>Realiza ajustes y configuraciones sobre la gestión de tus empleados.</p>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2024 Karpicentro. Todos los derechos reservados.</p>
    </div>
</body>
</html>
