@model KarpicentroWeb.Models.User

@{
    Layout = "_LayoutAdmin2";
}


<body>
    <main class="container">
        <div class="m-3 rounded">
            <form class="needs-validation p-4 rounded" style="max-width: 400px; margin: 0 auto;" novalidate method="post">
                <dl class="row">
                    <dt class="col-sm-3">
                        E-Mail
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-3">
                        Nombre
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        Nivel
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserType)
                    </dd>
                </dl>
                <hr class="my-4">
                <button asp-controller="Admin" asp-action="UserDelete" asp-route-id="@Model.ID" method="post" class="w-100 btn btn-danger btn-lg" type="submit">Eliminar al Usuario</button>
            </form>
        </div>
    </main>
</body>